{% extends "base.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard.css') }}">
{% endblock %}

{% block content %}
<div class="web-container">
  <div id="leaderboard-container">
    <section class="leaderboard">
      <h2>DAILY LEADERBOARD</h2>
      <p class="leaderboard-date">{{ formatted_date }}</p>
      <ol>
        {% for game_score, username in leaderboard_data %}
        <li class="{% if username == current_user.username %}current-user-slot{% endif %}">
          <p class="name">
            <a href="{{ url_for('profile', user_name=username) }}">
              {{ username }}
            </a>
          </p>
          <p class="score">
            <a href="{{ url_for('gameDetails', game_id=game_score.game_id) }}">
              {{ game_score.score }}
            </a>
          </p>
        </li>
        {% endfor %}
      </ol>
      <div class="buttons-container">
        <button class="exit" id="calendar-btn-expand">Date Selector</button>


        <div class="calendar">
          <div class="calendar-header">
              <i class='bx bx-collapse' id="calendar-btn"></i>
              <span class="month-picker" id="month-picker">February</span>
              <div class="year-picker">
                  <span class="year-change" id="prev-year">
                      <pre><</pre>
                  </span>
                  <span id="year">2024</span>
                  <span class="year-change" id="next-year">
                      <pre>></pre>
                  </span>
              </div>
          </div>
          <div class="calendar-body">
              <div class="calendar-week-day">
                  <div>Sun</div>
                  <div>Mon</div>
                  <div>Tue</div>
                  <div>Wed</div>
                  <div>Thu</div>
                  <div>Fri</div>
                  <div>Sat</div>
              </div>
              <div class="calendar-days"></div>
          </div>
          <div class="month-list"></div>
      </div>
        <button class="continue">Generate Leaderboard</button>
      </div>
    </section>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script>

    const formattedDate = "{{ formatted_date }}";

    calendarbtn = document.querySelector('#calendar-btn')
    calendarbtnexpand = document.querySelector('#calendar-btn-expand')
    const calendarContainer = document.querySelector(".calendar");

    calendarbtn.onclick = function () {
      calendarContainer.style.display = "none";
    }
    calendarbtnexpand.onclick = function () {
      calendarContainer.style.display = "block";
    }
  </script>
  <script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
{% endblock %}
