{% extends "base.html" %}

{% block styles %}

{% endblock %}

{% block content %}
<div class="web-container">
  <div id="rate-limit-container">
    <h1>Rate Limit Exceeded</h1>

    <h1>Too Many Requests</h1>
    <p>You have exceeded the allowed number of requests If this is a mistake or you want to increase your limit, get in contact with me :).</p>

  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
{% endblock %}